# Copyright 2018-2025 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that contributes and configures the Datadog Agent"
  homepage = "https://github.com/paketo-buildpacks/datadog"
  id = "paketo-buildpacks/datadog"
  keywords = ["java"]
  name = "Paketo Buildpack for Datadog"
  sbom-formats = ["application/vnd.syft+json", "application/vnd.cyclonedx+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/maven/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/amd64/bin/helper", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "linux/arm64/bin/helper", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "whether to contribute the Datadog trace agent"
    name = "BP_DATADOG_ENABLED"

  [[metadata.configurations]]
    default = "false"
    description = "whether to disable the Datadog trace agent (non native-image Java applications only!)"
    launch = true
    name = "BPL_DATADOG_DISABLED"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:datadoghq:java-agent:1.58.2:*:*:*:*:*:*:*"]
    id = "datadog-agent-java"
    name = "Datadog Java Agent"
    purl = "pkg:generic/datadog-java-agent@1.58.2"
    sha256 = "d63e37587ad8338b63012661290146aaf34a06b21b42968a294b6280bec699a2"
    source = "https://repo1.maven.org/maven2/com/datadoghq/dd-java-agent/1.58.2/dd-java-agent-1.58.2-sources.jar"
    source-sha256 = "71f13612e0129e17ed12c2eb8646dd5924b8921bfd63c57e486d1c54981b9fa4"
    stacks = ["*"]
    uri = "https://repo1.maven.org/maven2/com/datadoghq/dd-java-agent/1.58.2/dd-java-agent-1.58.2.jar"
    version = "1.58.2"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/DataDog/dd-trace-java/blob/master/LICENSE"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
